.nws-modal {
  border: 2px solid transparent;
  background: var(--chakra-colors-border-box) !important;
}


.nws-modal-wrapper {
  font-family: var(--chakra-fonts-body);
}

.nws-modal-wrapper .nws-modal .nws-modal-body button.middleButton {
  background-color: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-white);
  border-radius: var(--chakra-radii-6xl);
  
}