.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container p {
  font-size: 1.25rem;
  font-weight: 500;
}
.spinner_qM83 {
  animation: spinner_8HQG 1.05s infinite;
}
.spinner_oXPr {
  animation-delay: 0.1s;
}
.spinner_ZTLf {
  animation-delay: 0.2s;
}
@keyframes spinner_8HQG {
  0%,
  57.14% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    transform: translate(0);
  }
  28.57% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(-6px);
  }
  100% {
    transform: translate(0);
  }
}
