# Simple workflow for deploying static content to GitHub Pages
name: Build

on: [pull_request]

jobs:
  build:
    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Configure yarn caching
        uses: actions/cache@v2
        with:
          path: ~/.yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/workflows/prettier.yml') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Format the code
        run: yarn run format
      - name: Check the code style
        run: yarn run lint
      - name: Check the types
        run: yarn check
      - name: Build the project
        run: yarn build
